label {
    font-weight: bold;
    display: flex;
    color: #fff;
  }

h1{
    color: #fff;
  }
.error{
    color:red;
}
.error::before{
    content: "❌ ";
    font-size: 10px;

}
  
  input[type="email"],
  input[type="text"] {
    padding: 0.65rem 0.5rem;
    font-size: 1rem;
    border: 2px solid var(--gray-200);
    background-color: #fff;
    color: var(--gray-800);
    border-radius: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  
  input[type="email"],
  input[type="text"],
  textarea {
    width: 400px;
  }

  
  textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 1rem;
    border: 2px solid var(--gray-200);
    color: var(--gray-700);
    border-radius: 10px;
    resize: vertical;
    background-color: #fff;
    box-sizing: border-box;
    padding: 0.65rem 0.5rem;
    font-family: -apple-system, BlinkMacSystemFont, "avenir next", avenir,
      "helvetica neue", helvetica, ubuntu, roboto, noto, "segoe ui", arial,
      sans-serif;
  }

  
  input:focus,
  textarea:focus {
    outline: none;
    border: 2px solid var(--focus-ring-color);
  }
  
  input:invalid,
  textarea:invalid {
    border: 2px solid #ff7d87;
    box-shadow: none;
  }
  
  input[type="submit"],
  input[type="button"],
  button {
    padding: 0.5rem 1.25rem;
    font-size: 1rem;
    border-radius: 10px;
    background-color:#fff;
    border: 2px solid var(--gray-700);
    color:black;
    text-decoration: none;
    font-weight: bold;
    margin-bottom: 1rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    line-height: initial;
    transition: background-color 200ms ease-in-out, border 200ms ease-in-out,
      transform 200ms ease-in-out;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
  }
  
  @media (prefers-color-scheme: dark) {
    input[type="submit"],
    input[type="button"],
    button {
      background-color: white;
      border: 2px solid white;
      color: var(--gray-800);
    }
  }
  
  @media (hover: hover) {
    input[type="submit"]:hover,
    input[type="button"]:hover,
    button:hover {
      cursor: pointer;
      background-color: yellow;
    }
  }
  
  @media (hover: hover) and (prefers-color-scheme: light) {
    input[type="submit"]:hover,
    input[type="reset"]:hover,
    input[type="button"]:hover,
    button:hover {
      cursor: pointer;
      background-color:yellow;
    }
  }
  
  button:focus-visible,
  input[type="submit"]:focus-visible,
  input[type="button"]:focus-visible {
    border-color: var(--focus-ring-color);
    outline: none;
  }