.carousel.slide{
    display: flex;
    justify-content: center;
}

.carousel-inner{
    display: flex;
    height: 600px;
}

.carousel-inner > .carousel-item img{
    display: flex;
    align-items: center;
    height: 500px;
    object-fit: cover;
    margin: 0 auto;    
}

.carousel-inner > .carousel-item > .carousel-caption{
    width: 800px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur( 19px );
    -webkit-backdrop-filter: blur( 19px );
    border-radius: 10px;
}
.carousel-inner > .carousel-item > .carousel-caption h3{
    margin-top: 15px;
    color: white;
}
.carousel-inner > .carousel-item > .carousel-caption p{
    color: white;
    width: 600px;
    height: 150px;

}

@media only screen and (max-width: 480px) {
    .carousel-inner > .carousel-item img{
        max-width: 80%;
    }
    .carousel-inner > .carousel-item > .carousel-caption{
        display: none;
    }
}
